
 :host{
    display: inline;
  }
  ul, #myContent {
    list-style-type: none;
    padding: 0;
    
    font-size: 14px;
    font-family: arial;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  .li-content{
    justify-content: space-between;
    display: flex;
    border: 1px solid #eceaea;
  }
  li{
    padding-left: 6px;
    min-width: 300px;
    /* padding: 6px; */
    max-width: 400px;
    cursor: pointer;
    padding-bottom: 6px;
    padding-top: 6px;
  }
  li span{
    padding: 5px;
  }
  .li-content:hover{
    color: #fff;
    background: #115086;

  }
  .default {
    display: block;
    padding-left: 5px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .more::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .more-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    padding: 0;
    display: block;
    margin-left: 30px;
  }

